.DS_Store
0-ALOE_paper/.DS_Store
0-ALOE_paper/Coalitions_RL-Camera_Ready.pdf
0-ALOE_paper/Coalitions_RL-with_questions.pdf
00-Biblio/.DS_Store
00-Biblio/de Cote et al. - A Learning Approach to Dynamic Coalition Formation.pdf
00-Biblio/DRL_Coalition_Types_bargaining.pdf
00-Biblio/munoz2007learning.pdf
00-img_poster_docs/.DS_Store
00-img_poster_docs/00_Poster_IMG.png
00-img_poster_docs/00_QRCode.png
00-img_poster_docs/00-Coalitions_presentation.pptx
00-img_poster_docs/00-dynamic_coalitions_poster-V1.pdf
00-img_poster_docs/00-IMAGES.pptx
00-img_poster_docs/antennas.png
00-img_poster_docs/boxplot_epsilon1.png
00-img_poster_docs/boxplot.png
00-img_poster_docs/change_color copy.py
00-img_poster_docs/change_color.py
00-img_poster_docs/dynamic_coalitions_poster-V1.pptx
00-img_poster_docs/graph_final_coals.png
00-img_poster_docs/Manhattan - Google My Maps.webloc
00-img_poster_docs/method_new.png
00-img_poster_docs/methodology_old.png
00-img_poster_docs/methodology.png
00-img_poster_docs/returns_ridesharing.png
00-img_poster_docs/rideshare_subadditive_n_4-OLD.png
00-img_poster_docs/rideshare_subadditive_n_4.png
00-img_poster_docs/Training_time_DRL.png
00-img_poster_docs/poster_imgs/.DS_Store
00-img_poster_docs/poster_imgs/00-Thumbnail.png
00-img_poster_docs/poster_imgs/4_aggents_dynamics_transparent.png
00-img_poster_docs/poster_imgs/4_aggents_dynamics.png
00-img_poster_docs/poster_imgs/accuracy_defn.png
00-img_poster_docs/poster_imgs/accuracy_table.png
00-img_poster_docs/poster_imgs/accuracy_table.xlsx
00-img_poster_docs/poster_imgs/antenna_1_transparent.png
00-img_poster_docs/poster_imgs/antennas_0_transparent.png
00-img_poster_docs/poster_imgs/antennas_0.png
00-img_poster_docs/poster_imgs/antennas_1.png
00-img_poster_docs/poster_imgs/boxplot5_transparent.png
00-img_poster_docs/poster_imgs/boxplot5.png
00-img_poster_docs/poster_imgs/environment_transparent.png
00-img_poster_docs/poster_imgs/environment.png
00-img_poster_docs/poster_imgs/generalization.png
00-img_poster_docs/poster_imgs/method_A_transparent_2.png
00-img_poster_docs/poster_imgs/method_A.png
00-img_poster_docs/poster_imgs/method_B_transparent.png
00-img_poster_docs/poster_imgs/method_B.png
00-img_poster_docs/poster_imgs/method_C_transparent.png
00-img_poster_docs/poster_imgs/method_C.png
00-img_poster_docs/poster_imgs/methodology_paper.png
00-img_poster_docs/poster_imgs/methodology_poster.png
00-img_poster_docs/poster_imgs/phone_black.png
00-img_poster_docs/poster_imgs/phone_blue.png
00-img_poster_docs/poster_imgs/phone_green.png
00-img_poster_docs/poster_imgs/phone_red.png
00-img_poster_docs/poster_imgs/phone_yellow.png
00-img_poster_docs/poster_imgs/res_simple_transparent.png
00-img_poster_docs/poster_imgs/res_simple.png
00-img_poster_docs/poster_imgs/rideshare_subadditive_n_4.png
00-img_poster_docs/poster_imgs/ridesharing.png
00-img_poster_docs/poster_imgs/RL_illustration.png
00-img_poster_docs/poster_imgs/robot_green.png
00-img_poster_docs/poster_imgs/robot_red.png
00-img_poster_docs/poster_imgs/robot.png
00-img_poster_docs/poster_imgs/robot2.png
00-img_poster_docs/poster_imgs/transition_simple.png
00-img_poster_docs/poster_imgs/white_robot.png
00-img_poster_docs/poster_imgs/yellow_robot.png
00-img_poster_docs/poster_imgs/logos/bristol_logo_transparent.png
00-img_poster_docs/poster_imgs/logos/bristol_logo.png
00-img_poster_docs/poster_imgs/logos/DM_logo_transparent.png
00-img_poster_docs/poster_imgs/logos/DM_logo.png
00-img_poster_docs/poster_imgs/logos/HW_logo_transparent.png
00-img_poster_docs/poster_imgs/logos/HW_logo.png
Jewels_runs_backup/.DS_Store
Jewels_runs_backup/Jan22_best_paper/.DS_Store
Jewels_runs_backup/Jan22_best_paper/ray_results/.DS_Store
Jewels_runs_backup/Jan22_best_paper/ray_results/shapley_rl/.DS_Store
Jewels_runs_backup/Jan22_best_paper/ray_results/shapley_rl/tuner.pkl
