__pycache__/B_env.cpython-39.pyc
__pycache__/C_ppo_config.cpython-39.pyc
__pycache__/C_train.cpython-39.pyc
__pycache__/sigterm_handler.cpython-39.pyc
A_results/boxplot_8agents_rebuttal.pdf
A_results/boxplot_20240404-2239.pdf
A_results/dist_testing_20240328-rebuttal.txt
A_results/dist_testing_20240403-1839.txt
A_results/dist_testing_20240403-1909.txt
A_results/dist_testing_20240403-1939.txt
A_results/dist_testing_20240404-2014.txt
A_results/dist_testing_20240404-2111.txt
A_results/dist_testing_20240404-2139.txt
A_results/dist_testing_20240404-2239.txt
A_results/dist_training_20240328-rebuttal.txt
A_results/dist_training_20240403-1839.txt
A_results/dist_training_20240403-1909.txt
A_results/dist_training_20240403-1939.txt
A_results/dist_training_20240404-2014.txt
A_results/dist_training_20240404-2111.txt
A_results/dist_training_20240404-2139.txt
A_results/dist_training_20240404-2239.txt
A_results/entropy_plot_20240404-2251.pdf
A_results/final_coals_graph_20240404-2239.pdf
A_results/loss_plot_20240404-2251.pdf
A_results/returns_plot_20240404-2251.pdf
benchmarks/merge_n_split_comp_costs1.png
benchmarks/merge_n_split_comp_costs.png
benchmarks/merge_n_split_comp_costs1.png
